$color-primary: #3046c5;
$color-secondary: #5637dd;
$color-pale: #cec8ff;
$color-mid: #901cad;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-teal: #17a2b8;

$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;

body {
  font-family: $body-font;
}

h1,
h2,
h3 {
  font-family: $header-font;
}

h2 {
  color: $color-primary;
}

header {
  padding: 30px;
  background-image: linear-gradient(
    to right,
    $color-secondary,
    $color-primary,
    $color-dark
  );
  color: white;
  h2 {
    color: $color-pale;
  }
  .row {
    .reserve-campsite-btn {
      background-color: $color-teal;
      font-size: 28px;
      font-family: $header-font;
      letter-spacing: 2px;
    }
  }
}

footer {
  background-image: linear-gradient($color-pale, white);
  padding: 20px 0;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: $color-mid;
}

.navbar-nav,
.login-btn {
  display: flex;
  width: 80%;
  justify-content: space-between;
  font-size: x-large;
}

.login-btn {
  width: initial;
  background-color: #60106b;
  padding: 8px 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 10px;
}

.accordion-button {
  background-color: #d3d3d3;
}

.carousel-caption {
  background-color: $color-black-transparent;
}
.carousel {
  border: solid $color-secondary;
}

.sec1,
.sec2 {
  background-color: lighten(#cec8ff, 6%);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-block: 20px;
  padding-inline: 20px;
}

.sec2 {
  background-color: lighten(#901cad, 48%);
}

@import "modal";
@import "review-section";
@import "weather-box";
